form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

input[type="text"] {
  flex-grow: 1;
  font-size: 22px;
  outline: none;
  padding: 5px;
}

.form-label {
  position: absolute;
  left: -9999;
}

.submit-button {
  margin-left: 10px;
}

.submit-button:hover svg {
  color: green;
}
